/* TODO: upgrade this to MUI */

#Footer {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.footer-logo {
  transition: filter 300ms;
  will-change: filter;
}

.footer-logo img,
.footer-logo svg {
  height: 40px;
  width: 40px;
}

.footer-logo.vite:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.footer-logo.react:hover {
  animation: logo-spin infinite 30s linear;
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TODO: build this out */
@media (prefers-reduced-motion: no-preference) {
  /* a:nth-of-type(2) .logo { */
  /* animation: logo-spin infinite 20s linear; */
  /* } */
}
